<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{10,50}</string>
		<string>{5,10}</string>
		<string>{50,10}</string>
		<string>{60,20}</string>
		<string>{35,25}</string>
		<string>{75,10}</string>
		<string>{75,30}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{10,15}</string>
		<string>{50,10}</string>
		<string>{60,20}</string>
		<string>{60,50}</string>
		<string>{35,50}</string>
		<string>{75,30}</string>
		<string>{75,50}</string>
	</array>
</dict>
</plist>
